.Navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 6vh;
    font-size: 8px;
    display: flex;
    align-items: center;
    border: gray;
    
    

}
.logo {
    margin-right: 15px;
    padding: 0 13px;
    font-size: 10px;
    background-color: #eceff1;
    height: 90%;
    display: flex;
    align-items: center;



}

.logo a {
    text-decoration: none;
    color: black;
}





.slider {
    width: 230px;
    margin: 0 10px;
    display: inline-block;
}

.rc-slider-track {
    background-color: transparent;
}

.rc-slider-rail {
    height: 1px;
    background-color:gainsboro;
    
}
.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle:hover {
    background-color: gray;
    outline: none;
    border: 2px solid white ;
    box-shadow: none;
    margin-top: -6px;
   
    
}

.select-container {
   width: 10px;

}