.PaletteBox {
    width: 30%;
    height: 80%;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    cursor: pointer;
   
}


.copy-button{
    width:75px;
    height: 20px;
    position: absolute;
    display: inline-block;
    bottom: 0px;
    text-align: center;
    outline: none;
    background: rgba(255,255,255,0.3);
    font-size: .75rem;
    line-height: 20px;
    color: white;
    border:none;
    opacity: 0;
    line-height: 20px;
    left: 0px;
    
}

.PaletteBox:hover .copy-button{
    opacity: 1;
    transition: 0.5s;
}

.box-content {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    padding: 5px;
    color: black;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 10px;
}

.see-more{
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    border:none;
    right:0px;
    bottom: 0px;
    font-size:  12px;
    text-align: center;
    outline: none;
    width: 75px;
    color: white;
    height: 19px;
    line-height: 19px;
}

.Done-overlay {
 opacity: 0;
 z-index: 0;
 width:100%;
 height: 100%;
 transition: transform 0.6s ease-in-out;
 transform: scale(0.1);
}
.Done-overlay.show {
    opacity: 1;
    transform: scale(50);
    z-index: 10;
    position: absolute ;

}

.done-msg {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
    font-size: 11px;
    transform: scale(0.1);
    opacity: 0;
    color: white;

}

.done-msg.show {
    opacity: 1;
    transform: scale(1);
    z-index: 25;
    transition: all 0.6s ease-in-out;
    transition-delay: 0.3s;
}

.done-msg h1 {
    
    background: rgba(255, 255, 255, 0.3);
}

.done-msg p {
    
    bottom: 60px;
    font-size: 20px;
    font-weight: 100;

}


